@using PROJECT_ES.Data
@inject VoteController voteController
@model PROJECT_ES.ViewModels.VoteViewModel
@{
    ViewData["Title"] = "Voting Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <!-- 
        - favicon
      -->
      <link rel="shortcut icon" href="./logo1.png" type="image/svg+xml">
    
     
      <link rel="stylesheet" href="/css/teste.css">
    
      <!-- 
        - google font link
      -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>

<body id="top">

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="/" class="logo">
        <img style="width: 30%" src="/images/logo1.png"/>
      </a>

      <div class="header-actions">

        <button class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
        </button>

        <div class="lang-wrapper">
          <label for="language">
            <ion-icon name="globe-outline"></ion-icon>
          </label>

          <select name="language" id="language">
            <option value="en">PT</option>
            <option value="au">ES</option>
          </select>
        </div>

        <a class="btn btn-primary" href="/Welcome">ADMIN</a>

      </div>
      
      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="#" class="navbar-link">Inicio</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Competições</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Filmes</a>
          </li>
<!--
          <li>
            <a href="#" class="navbar-link">Web Series</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Pricing</a>
          </li>
-->
        </ul>

      </nav>

    </div>
  </header>
  
<div class="container-vote">
    <h1 class="competition-title">Competição: @Model.Competition.Name</h1>
    <h1 class="category-title">Categoria: @Model.Category.Name</h1>
</div>

<div class="category-slider">
    @foreach (var movie in Model.Movies)
    {
        <div class="category-slide">
            <td><img src="@movie.Image" width="50" height="70" /></td>
            <h3>@movie.Title</h3>
        </div>
    }
</div>
<hr>

<div id="error-message" style="display:none;">Já votaste nesta categoria!!</div>
 
<div id="success-message" style="display:none;">Voto foi inserido com sucesso</div>

<div id="errorData-message" style="display:none;">A competição não se encontra disponível para votar</div>

    <form id="vote-form" method="post" action="@Url.Action("Vote", "Vote")">
        <input type="hidden" name="competitionId" value="@Model.Competition.Id" />
        <input type="hidden" name="categoryId" value="@Model.Category.Id" />
    
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        
        <div class="form-group">
            <label for="movie-select">Escolha um filme:</label>
            <select class="form-control" id="movie-select" name="movieId" required>
                @foreach (var movie in Model.Movies)
                {
                    <option value="@movie.Id">@movie.Title</option>
                }
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Confirmar voto</button>
    </form>

<script src="/js/teste.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
        $(document).ready(function() {
            $('.category-slider').slick({
                autoplay: true,
                autoplaySpeed: 5000,
                dots: true,
                slidesToShow: 5, // Show 5 slides at a time
                                slidesToScroll: 5 // Scroll 5 slides at a time
            });
           
           $('#vote-form').on('submit', function(e) {
                   e.preventDefault(); // Prevent the form from submitting normally
           
                   var formData = {
                       competitionId: $('input[name="competitionId"]').val(),
                       categoryId: $('input[name="categoryId"]').val(),
                       name: $('#name').val(),
                       email: $('#email').val(),
                       movieId: $('#movie-select').val()
                   };
           
                   $.post('@Url.Action("Vote", "Vote")', formData, function (response) {
                               if (response.done) {
                                   $('#vote-form').hide();
                                   $('#success-message').show();
                               }
                               else if (response.error) {
                                $('#vote-form').hide();
                                $('#error-message').show();
                               }
                               else if (response.errorData){
                                $('#vote-form').hide();
                                $('#errorData-message').show();
                               }
               });
               });
               });
           
           </script>
</body>
</html>
