@using PROJECT_ES.Data
@inject VoteController voteController
@model PROJECT_ES.ViewModels.VoteViewModel
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Voting Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <!-- 
        - favicon
      -->
      <link rel="shortcut icon" href="./logo1.png" type="image/svg+xml">
    
     
    <link rel="stylesheet" href="/css/teste.css">
    <link rel="stylesheet" href="/css/navbar.css">
    
      <!-- 
        - google font link
      -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link
              rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            />
    </head>

<body id="top">

 <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="/" class="logo">
        <img style="width: 30%" src="/images/logo1.png"/>
      </a>

      <div class="header-actions">

        <div class="lang-wrapper">
          <label for="language">
            <ion-icon name="globe-outline"></ion-icon>
          </label>

          <select name="language" id="language">
            <option value="en">PT</option>
            <option value="au">EN</option>
          </select>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
          if (ViewBag.IsAdmin)
          {
            <div class="action nav-item">
              <div class="profile-dropdown-btn">
                <div class="profile" onclick="toggle();">
                  <img src="/images/prof-pica.png">
                </div>
              </div>
              <div class="menu">
                <h3>@User.Identity.Name<br><span>Administrador</span></h3>
                <ul>
                  <li>
                    <form method="post" action="https://localhost:44336/Identity/Account/Logout">
                      <button type="submit" style="color: #FFF"><i class="fa-solid fa-arrow-right-from-bracket"></i>   Terminar Sessão</button>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
            <a class="btn btn-primary" href="/Welcome">DashBoard</a>
          }
          else
          {
            <div class="action nav-item">
                <div class="profile-dropdown-btn">
                  <div class="profile" onclick="toggle();">
                    <img src="/images/prof-pich.jpg">
                  </div>
                </div>
                <div class="menu">
                  <h3>@User.Identity.Name<br><span>Utilizador</span></h3>
                  <ul>
                    <li>
                      <form method="post" action="https://localhost:44336/Identity/Account/Logout">
                          <button type="submit" style="color: #FFF"><i class="fa-solid fa-arrow-right-from-bracket"></i>   Terminar Sessão</button>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
          }
        }
        else
        {
          <a class="btn btn-primary" href="https://localhost:44336/Identity/Account/Login">Log In</a>
          <a class="btn btn-primary1" href="https://localhost:44336/Identity/Account/Register">Registar</a>
        }


      </div>
      <!--
      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="/"  class="navbar-link">Inicio</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Competições</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Filmes</a>
          </li>

        </ul>

      </nav>
  -->
    </div>
  </header>

<div style="background: url('../images/tv-series-bg.jpg') no-repeat;!important;background-size: cover">
          <div style="padding-top: 150px;text-align: center ">
            <h2 class="h2 section-title" >@Model.Competition.Name</h2><br/>
            <h3 class="h3 section-subtitle" style="font-size: 24px;!important;">@Model.Category.Name</h3><BR>
                    @if (User.Identity.IsAuthenticated)
                    {
                      <h3 class="h3 section-subtitle badge badge-outlineX" style="font-size: 20px; width: fit-content; display: inline-block;padding: 15px">Escolhe o filme e terás o teu voto validado!</h3>


                      <form id="vote-form" method="post" action="@Url.Action("Vote", "Vote")">
                        <input type="hidden" name="competitionId" value="@Model.Competition.Id"/>
                        <input type="hidden" name="categoryId" value="@Model.Category.Id"/>
                        <input type="hidden" class="form-control" id="email" name="email" value="@User.Identity.Name">

                        <div class="form-group" style="display: flex;
                                       align-items: center;">
                          <div class="button-select-container" style="margin-right: 10px;">
                            <button type="submit" class="btn btn-primary">+</button>
                          </div>
                          <div class="select-container" style="flex-grow: 1;">
                            <select class="form-control" id="movie-select" name="movieId" required>
                              @foreach (var movie in Model.Movies)
                              {
                                <option value="@movie.Id">@movie.Title</option>
                              }
                            </select>
                          </div>
                        </div>
                      </form>
                    }
                    else
                    {
                      <h3 class="h3 section-subtitle badge badge-outlineXX" style="font-size: 16px; width: fit-content; display: inline-block;padding: 15px">Para votar tens que ter sessão iniciada.</h3><br/><br/>
                    }



            
            
            <section class="upcoming" style="padding-top: 1px;!important ;background:url(../images/) no-repeat;!important;padding-block: 0;!important;">
    <div class="container">
    </div>
      <div class="slider-wrapper">
        <div class="movies-list-container">
          <ul id="moviesSlider" class="movies-list has-scrollbarMovie">
            @foreach (var movie in Model.Movies)
            {
              <li>
                <div class="movie-card" style="width: 200px;">
                  <button class="movie-btn" data-movie-id="@movie.Id">
                    <figure class="card-banner">
                      <img src="@movie.Image">
                    </figure>
                  </button>
                  <button class="movie-btn" data-movie-id="@movie.Id">
                    <div class="title-wrapper">
                      <a href="./movie-details.html">
                        <h3 class="card-title">@movie.Title</h3>
                      </a>
                      <time datetime="2022">@movie.Date</time>
                    </div>
                  </button>
                  <div class="card-meta">
                    <div class="badge badge-outline">HD</div>
                    <div class="duration">
                      <ion-icon name="time-outline"></ion-icon>
                      <time datetime="PT137M">@movie.Duration</time>
                    </div>
                    <div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <data>@movie.Rating</data>
                    </div>
                  </div>
                </div>
              </li>
            }
          </ul>

        </div>
      </div>
    </div>
  </section>
<br/>
</div>

<!-- 
    - #FOOTER
  -->
<footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand-wrapper">

          <a href="/" class="logo">
            <img style="width: 30%" src="/images/logo1.png">
          </a>

          <ul class="footer-list">

            <li>
              <a href="#" class="footer-link">Inicio</a>
            </li>

            <li>
              <a href="#" class="footer-link">Competições</a>
            </li>

            <li>
              <a href="#" class="footer-link">Filmes</a>
            </li>
<!--
            <li>
              <a href="#" class="footer-link">Web Series</a>
            </li>

            <li>
              <a href="#" class="footer-link">Pricing</a>
            </li>
-->
          </ul>

        </div>

        <div class="divider"></div>

        <div class="quicklink-wrapper">

          <ul class="quicklink-list">

            <li>
              <a href="#" class="quicklink-link">Faq</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Centro de Ajuda</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Termos de utilização</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Privacidade</a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

  </footer>

<script src="/js/teste.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
        $(document).ready(function () {
            $('.category-slider').slick({
                autoplay: true,
                autoplaySpeed: 5000,
                dots: true,
                slidesToShow: 5,
                slidesToScroll: 5
            });

            $('#vote-form').on('submit', function (e) {
                e.preventDefault();

                var formData = {
                    competitionId: $('input[name="competitionId"]').val(),
                    categoryId: $('input[name="categoryId"]').val(),
                    name: $('#name').val(),
                    email: $('#email').val(),
                    movieId: $('#movie-select').val()
                };

                $.post('@Url.Action("Vote", "Vote")', formData, function (response) {
                   if (response.done) {
                               $('#form').hide();
                   
                               // Show the success popup
                               var popupOverlay = $('<div class="popup-overlay"></div>');
                               var popup = $('<div class="popup"><img src="/images/404-tick.png"><h2>Obrigado!</h2><p>O seu voto foi inserido com sucesso!</p><button id="redirect-button" data-competition-id="@Model.Competition.Id">OK</button></div>');
                   
                               popupOverlay.append(popup);
                               $('body').append(popupOverlay);
                   
                               $('#redirect-button').on('click', function() {
                                   // Check if competitionId is defined before redirecting
                                   var competitionId = '@Model.Competition.Id';
                                   if (competitionId !== undefined && competitionId !== null && competitionId !== '') {
                                       window.location.href = '/Category/CategoriesPage?competitionId=' + competitionId;
                                   }
                               });
                    } else if (response.error) {
                        $('#form').hide();
                       $('#form').hide();
                                          
                                                      // Show the success popup
                                                      var popupOverlay = $('<div class="popup-overlay"></div>');
                                                      var popup = $('<div class="popup" style="    border: 2px solid red;"><img src="/images/x.png"><h2>Voto Inválido!</h2><p>Já votaste nesta categoria anteriormente.</p><button style="    background: red;!importante" id="redirect-button" data-competition-id="@Model.Competition.Id">Voltar</button></div>');
                                          
                                                      popupOverlay.append(popup);
                                                      $('body').append(popupOverlay);
                                          
                                                      $('#redirect-button').on('click', function() {
                                                          // Check if competitionId is defined before redirecting
                                                          var competitionId = '@Model.Competition.Id';
                                                          if (competitionId !== undefined && competitionId !== null && competitionId !== '') {
                                                              window.location.href = '/Category/CategoriesPage?competitionId=' + competitionId;
                                                          }
                                                      });
                    }
                });
            });

            $('.movie-btn').on('click', function () {
                var movieId = $(this).data('movie-id');
                window.location.href = '/Movies/SingleMovie?movieId=' + movieId;
            });
        });
                    const toggleMenu = document.querySelector('.menu');
                    let btn= document.querySelector(".profile-dropdown-btn");
                    
                    const toggle = () =>toggleMenu.classList.toggle('active');
                    
                    window.addEventListener("click", function (e) {
                        if (!btn.contains(e.target)) toggleMenu.classList.remove("active");
                    });
                    
                    
                    
                    
    </script>
</body>
</html>
