@page "/createcompetition"
@using PROJECT_ES.Data
@using PROJECT_ES.Service
@using Competition = PROJECT_ES.Data.Competition;
@inject CompetitionRepository competitionRepository
@inject MovieRepository movieRepository
@inject CategoryRepository categoryRepository
@inject NavigationManager NavigationManager
@using Microsoft.JSInterop
@using System.ComponentModel
@inject IJSRuntime JSRuntime

<div class="recent-orders">

        <h1>Criar competição</h1>
    <EditForm Model="@competition" OnValidSubmit="CreateCompetitionn">
        <DataAnnotationsValidator />
        <ValidationSummary />
<br/>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" class="form-control" @bind="competition.Name" />
                </div>
                <br/>
                <div class="form-group">
                    <label for="description">Descrição:</label>
                                                <input type="text" id="description" class="form-control" @bind="competition.Description">
                                                
                                   
                    
                    <input />
                </div>
                <br/>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Começa a:</label>
                    <input type="datetime" id="data_inicio" class="form-control" @bind="competition.data_inicio" />
                </div><br/>
                <div class="form-group">
                    <label for="name">Encerra a:</label>
                    <input type="datetime" id="data_inicio" class="form-control" @bind="competition.data_fim" />
                </div><br/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6">
                <label>Filmes</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" size="9" multiple @bind="selectedMovieIds">
                    @if (movies != null)
                    {
                        @foreach (var movie in movies)
                        {
                            <option value="@movie.Id">@movie.Title</option>
                        }
                    }
                </select>
            </div><br/>
            <div class="col-6">
                <label>Categorias</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" size="9" multiple @bind="selectedCategoriesIds">
                    @if (categories != null)
                    {
                        @foreach (var category in categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

    <br>

        <button type="submit" class="btn btn-primary">Criar</button>
    </EditForm>

</div>
@code {
    
    private int[] selectedMovieIds = new int[0];
    
    private int[] selectedCategoriesIds = new int[0];
    

    private Competition competition = new();

    private List<Movie> movies;
    private List<Data.Category> categories;
    
    private IEnumerable<Data.Competition> Details;    
    private IEnumerable<Data.Movie> Movies;
    private IEnumerable<Data.Category> Categories;
    
    protected override async Task OnInitializedAsync()
    {
        movies = (await movieRepository.GetMoviesAsync()).ToList();
        categories = (await categoryRepository.GetAllCategoriesAsync()).ToList();
    }

    
    private async Task CreateCompetitionn()
    {
        await competitionRepository.AddCompetitionWithMoviesAsync(competition, selectedMovieIds.ToList(),selectedCategoriesIds.ToList());
        NavigationManager.NavigateTo("/competitions");
    }

}