@page "/welcome"
@using PROJECT_ES.Data
@using PROJECT_ES.Service
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject CompetitionDetailsRepository CompetitionDetailsRepository

<AuthorizeView>
    <Authorized>
        <h3>Estatísticas VOTECINE</h3>


        <table class="table">
            <thead>
            <tr>
                <th>Competition Name</th>
                <th>Category Name</th>
                <th>Movie Winner</th>
                <th>Vote Count</th>
            </tr>
            </thead>
            <tbody>
            @if (statistics != null && statistics.Any())
            {
                var previousCompetitionName = "";
                var categoryCount = 0;
                foreach (var vote in statistics)
                {
                    if (previousCompetitionName != vote.CompetitionName)
                    {
                        previousCompetitionName = vote.CompetitionName;
                        categoryCount = statistics.Count(v => v.CompetitionName == vote.CompetitionName);
                    }

                    <tr>
                        @if (categoryCount > 0)
                        {
                            <td rowspan="@categoryCount" style="vertical-align: middle">@vote.CompetitionName</td>
                            categoryCount = 0;
                        }
                        <td>@vote.CategoryName</td>
                        <td>@vote.MovieTitle</td>
                        <td>@vote.VoteCount</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">Sem informação.</td>
                </tr>
            }
            </tbody>
        </table>
    </Authorized>
   <NotAuthorized>
       <div style="text-align: center" class="alert alert-warning" role="alert">
           Você não tem acesso a esta página, por favor faça login.
       </div>
   </NotAuthorized>
</AuthorizeView>


@code
{
    private IEnumerable<Vote> statistics;
    protected override async Task OnInitializedAsync()
    {
        statistics = await CompetitionDetailsRepository.States();
    }
}
